*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
node_modules
*/node_modules
npm-debug.log
coverage
.cache-loader
*/.cache-loader
src/packages
*/src/packages
src/packages/*
package-lock.json
*/package-lock.json
pub
*/pub
*/.gitlab-ci.yml
pub.tar.gz
proxy.config.js
deploy.sh
